{% extends 'base.html' %} {% block content %}
    {% load static %}

    {% block header %} {% include 'header.html' %} {% endblock header %}

    <div class="container-fluid">
        <div class="col-md-8 offset-md-2 maincontainer">
            <h1 class="post_detail">
                {% block title %} {{ object.title }} {% endblock title %}
            </h1>
            <p class="text-muted"><img class = "detail_icon" src="{% static 'icons/account_circle-24px.svg' %}" alt="Avatar" >{{ post.author }} | <img class = "detail_icon" src="{% static 'icons/calendar_today-24px.svg' %}" alt="Avatar" >{{ post.created_on }}</p>
            <hr>

            <p class="card-text ">{{ object.content | safe }}</p>
          </div>
    </div>

{% endblock content %}
