{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text"> This an open source blog created using Django & takes less than an 10 minutes to set up. Follow the github link on the footer to contribute & learn more! </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn black-button"><i class="fab fa-github"></i> github</a>
    </div>
</div>
</div>

{% endblock sidebar %}